// Variables
// --------------------------------------------------

// Screen sizes
// ==========================================================================

$screen-xs: 480px;
$screen-sm-min: 768px;
$screen-sm-max: 767px;
$screen-md: 992px;
$screen-lg: 1200px;
