// Responsive Tables
// --------------------------------------------------

@include breakpoint(sm-max) {

  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
  }

  .table-responsive th,
  .table-responsive td {
    white-space: nowrap;
  }

}
